body{
	margin: 0;
}
a{
	text-decoration: none;
	color: black;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
#app{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
}
#zhanshi-lan{
	margin-top:20px;
	width: 100%;
	background-color:#f4f4f4;
}
